/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 300px;
}
